{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fortinet</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static '/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static '/css/fortinet.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="{% static '/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{% static '/img/logo.png' %}" ></img></a>
            </div>
            <!-- Top Menu Items -->
            <ul id="threat-alert" class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-danger">New Threat Detected <b class="caret"></b></span></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-footer">
                            <a id="table-refresh" href="#"><i class="fa fa-refresh"></i>  Refresh Table</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <h2>Threat Logs</h2>
                        </div>
                        <div class="col-lg-6">
                            <div class="pull-right">
                                <div class="form-group">
                                    <label for="sel1">Select Period:</label>
                                    <select class="form-control" id="sel1">
                                        <option>--</option>
                                        <option>24 hours</option>
                                        <option>7 days</option>
                                        <option>4 weeks</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive col-lg-12">
                            <table id="records-table" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th id="th-date">Date<i class="fa fa-sort pull-right"></i></th>
                                        <th id="th-filename">Filename</th>
                                        <th id="th-action">Action</th>
                                        <th id="th-submittype">Submit-Type</th>
                                        <th id="th-rating">Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{% static '/js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#threat-alert").hide();
        })
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#table-refresh").click(function() {

            $("select.form-control option:selected").each(function() {

                var selection = $(this).text();
                var periodType = null;
                var periodVal = null;

                if (selection == "24 hours") {

                    periodType = "hours";
                    periodVal = 24;

                } else if (selection == "7 days") {

                    periodType = "days";
                    periodVal = 7;

                } else if (selection == "4 weeks") {

                    periodType = "weeks";
                    periodVal = 4;

                }

                $.ajax({
                    url: "http://localhost:8000/renderer/period/?periodType=" + periodType + "&periodVal=" + periodVal,
                    dataType: 'json',
                    success: function(records) {
                        $("#records-table tbody").empty()
                        for (var i = 0; i < records.length; i++) {
                            $("#records-table tbody").append('<tr class="' + records[i].rating + '"><td>' + records[i].date + '</td><td>' + records[i].filename + '</td><td>' + records[i].action + '</td><td>' + records[i]["submit-type"] + '</td><td>' + records[i].rating + '</td></tr>')
                        }
                        $("#threat-alert").hide();
                    },
                    failure: function(data) {
                        console.log(data)
                    }
                })

            })
        })
    })
    </script>
    <script type="text/javascript">
        var records = {{ records | safe }}
        for (var i = 0; i < records.length; i++) {
            $("#records-table tbody").append('<tr class="' + records[i].rating + '"><td class="records-date">' + records[i].date + '</td><td class="records-filename">' + records[i].filename + '</td><td class="records-action">' + records[i].action + '</td><td class="records-submit-type">' + records[i]["submit-type"] + '</td><td class="records-rating">' + records[i].rating + '</td></tr>')
        }
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        setInterval(function() {

            $("select.form-control option:selected").each(function() {
                var selection = $(this).text();
                var periodType = null;
                var periodVal = null;

                if (selection == "24 hours") {

                    periodType = "hours";
                    periodVal = 24;

                } else if (selection == "7 days") {

                    periodType = "days";
                    periodVal = 7;

                } else if (selection == "4 weeks") {

                    periodType = "weeks";
                    periodVal = 4;

                }

                current_records_amt = $("#records-table tbody tr").length;
                console.log(current_records_amt)

                $.ajax({
                    url: "http://localhost:8000/renderer/poll/?periodType=" + periodType + "&periodVal=" + periodVal,
                    dataType: 'json',

                    success: function(new_records_amt) {
                        if (new_records_amt != current_records_amt) {
                            $("#threat-alert").show();
                        }
                    },
                    failure: function(data) {
                        console.log(data)

                    },
                    timeout: 2000
                });

            })
        }, 10000);
    })
    </script>
    <script type="text/javascript">

    $(".form-control").change(function() {

        $("select.form-control option:selected").each(function() {

            var selection = $(this).text();
            var periodType = null;
            var periodVal = null;

            if (selection == "24 hours") {

                periodType = "hours";
                periodVal = 24;

            } else if (selection == "7 days") {

                periodType = "days";
                periodVal = 7;

            } else if (selection == "4 weeks") {

                periodType = "weeks";
                periodVal = 4;

            }

            $.ajax({
                url: "http://localhost:8000/renderer/period/?periodType=" + periodType + "&periodVal=" + periodVal,
                dataType: 'json',
                success: function(records) {
                    $("#records-table tbody").empty()
                    for (var i = 0; i < records.length; i++) {
                        $("#records-table tbody").append('<tr class="' + records[i].rating + '"><td class="records-date">' + records[i].date + '</td><td class="records-filename">' + records[i].filename + '</td><td class="records-action">' + records[i].action + '</td><td class="records-submit-type">' + records[i]["submit-type"] + '</td><td class="records-rating">' + records[i].rating + '</td></tr>')
                    }
                },
                failure: function(data) {
                    console.log(data)
                }
            });

        });
    });
    </script>

    <script type="text/javascript">
        function sortTable(columnNumber){
            var rows = $('#records-table tbody  tr').get();
            rows.sort(function(a, b) {

                var A = $(a).children('td').eq(columnNumber).text().toUpperCase();
                var B = $(b).children('td').eq(columnNumber).text().toUpperCase();

                if(A < B) {
                    return -1;
                }

                if(A > B) {
                    return 1;
                }

                return 0;

            });

            $.each(rows, function(index, row) {
                $('#records-table').children('tbody').append(row);
            });
        }

        function sortTableByDate(){
            var rows = $('#records-table tbody  tr').get();
            rows.sort(function(a, b) {

                var A = Date.parse($(a).children('td').eq(0).text().toUpperCase());
                var B = Date.parse($(b).children('td').eq(0).text().toUpperCase());

                if(A < B) {
                    return -1;
                }

                if(A > B) {
                    return 1;
                }

                return 0;

            });

            $.each(rows, function(index, row) {
                $('#records-table').children('tbody').append(row);
            });
        }

        sortTableByDate()


        $("#records-table thead tr th").click(function(){
            $("#records-table thead tr th i").remove();

            $(this).append('<i class="fa fa-sort pull-right"></i>');
            
            var thIndex = $( "#records-table thead tr th" ).index( this );
            if(thIndex == 0){
                sortTableByDate()
            }else{
                sortTable(thIndex)
            }
        })
        

    </script>
</body>

</html>
