{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fortinet</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static '/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static '/css/fortinet.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="{% static '/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Threat Reader</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p><span class="label label-default">Alert Badge</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <h2>Contextual Classes</h2>
                        </div>
                        <div class="col-lg-6">
                            <div class="pull-right">
                                <div class="form-group">
                                    <label for="sel1">Select Period:</label>
                                    <select class="form-control" id="sel1">
                                        <option>--</option>
                                        <option>24 hours</option>
                                        <option>7 days</option>
                                        <option>4 weeks</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive col-lg-12">
                            <table id="records-table" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Filename</th>
                                        <th>Action</th>
                                        <th>Submit-Type</th>
                                        <th>Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <button class="btnz">press</button>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{% static '/js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript">
    var records = {{records|safe}}
    for (var i = 0; i < records.length; i++) {
        $("#records-table tbody").append('<tr class="' + records[i].rating + '"><td>' + records[i].date + '</td><td>' + records[i].filename + '</td><td>' + records[i].action + '</td><td>' + records[i]["submit-type"] + '</td><td>' + records[i].rating + '</td></tr>')
    }
    </script>
    <!-- <script type="text/javascript">
    $(document).ready(function() {

        setInterval(function() {
            $.ajax({
                url: "http://localhost:8000/renderer/poll/",
                dataType: 'json',

                success: function(records) {
                    $("#records-table tbody").empty()
                    for (var i = 0; i < records.length; i++) {
                        $("#records-table tbody").append('<tr class="' + records[i].rating + '"><td>' + records[i].date + '</td><td>' + records[i].filename + '</td><td>' + records[i].action + '</td><td>' + records[i]["submit-type"] + '</td><td>' + records[i].rating + '</td></tr>')
                    }

                },
                failure: function(data) {
                    alert(data);

                },
                timeout: 2000
            });
        }, 10000);
    })
    </script> -->
    <script type="text/javascript">

    $(".form-control").change(function(){
        
        $("select option:selected").each(function(){
            
            var selection = $(this).text();    
            var periodType = null;
            var periodVal = null;

            if(selection == "24 hours"){
                
                periodType = "hours";
                periodVal = 24;

            }else if(selection == "7 days"){
                
                periodType = "days";
                periodVal = 7;

            }else if(selection == "4 weeks"){
                
                periodType = "weeks";
                periodVal = 4;

            }

            $.ajax({
                url: "http://localhost:8000/renderer/period/?periodType=" + periodType + "&periodVal=" + periodVal,
                dataType: 'json',
                success: function(records) {
                    $("#records-table tbody").empty()
                    for (var i = 0; i < records.length; i++) {
                        $("#records-table tbody").append('<tr class="' + records[i].rating + '"><td>' + records[i].date + '</td><td>' + records[i].filename + '</td><td>' + records[i].action + '</td><td>' + records[i]["submit-type"] + '</td><td>' + records[i].rating + '</td></tr>')
                    }
                },
                failure: function(data) {
                    alert(data);
                }
            });

        });
    });
    </script>
</body>

</html>
